@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
:root{
    --primaryColor: #937DC2;
    --secondaryColor: #680865;
    --light:#f2f2f2 ;
    --color:#202020;
    --backgroundColor:white;
    --font:'Open Sans', sans-serif !important;
    --fontSize:0.92rem;
    --navWidth:95%;
    --navHeight:50px;
    --navAlign:center;
    --sideBarWidth:250px;
    --linearGradient:linear-gradient(180deg, #937DC2 0%, rgba(130, 214, 233, 0.41) 100%);

}

/* loader */
.loadContainer{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    z-index: 20;
    background-color:rgba(0,0,0,0.5)
}
.loading {
    left: 50%;
    top: 50%;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 4.4px;
    text-transform: capitalize;
    position: absolute;
    overflow: hidden;
    transform: translate(-50%, -60%);
  }
  .loading:before {
    color:white;
    content: attr(data-loading-text);
  }
  .loading:after {
    top: 0;
    left: 0;
    width: 0;
    opacity: 1;
    color: var(--primaryColor);
    overflow: hidden;
    position: absolute;
    content: attr(data-loading-text);
    -webkit-animation: loading 1s infinite linear;
            animation: loading 1s infinite linear;
  }
  @-webkit-keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes loading {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

/* Normalise */
body,.modal-content{
    background-color: var(--backgroundColor) !important;
    color: var(--color);
}
.padding-5{
    padding: 5px;
}
*{font-family: var(--font);font-size: var(--fontSize);}
.p-bg{background-color: var(--primaryColor) !important;}
.p-text{color: var(--primaryColor);}
body{background-color: var(--backgroundColor);}
.heading{font-size: 3rem !important;}
.h1{font-size: 2.5rem !important;font-weight: 800 !important;}
p{margin: 20px 0 !important;}
.m-section{margin: 40px 0 !important;}
.central{display: flex;align-items: center;
justify-content: center;}
.row{align-items: center;}

.content{
    max-width: 800px;
    margin: 80px auto;
    padding: 1rem;
}
.card{
    background-color: var(--light);
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: -.5rem .5rem 0rem 0rem rgba(0,0,0,0.1) !important;

}
.shadow{
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: -.5rem .5rem 0rem 0rem rgba(0,0,0,0.1) !important;

}
button{font-weight: bold !important;}
.link{
    font-weight: bold;
    color: var(--secondaryColor) !important;
}
.input{
    padding: 1rem !important;
    border: none;
    width: 100%;
    min-height: 40px;
    border-radius: .2rem;
    outline: none;
    transition: 0.3s linear;
    background-color: var(--light);
    font-weight: bold;
    border-bottom: none !important;
    color: var(--color);
    }
    .input:focus{
        outline: 1px solid var(--primaryColor);
    }
    .btn{
        padding: 1rem;
        border-radius: .2rem;
        border: none !important;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    .primaryBtn{
        background-color: var(--primaryColor);
        color: white;
    }
    .outlineBtn{
        border: 1px solid var(--primaryColor);
        background: none;
        padding: .5rem .8rem;
        color: var(--primaryColor);
        cursor: pointer;
    }
    .outlineBtn:hover{
        color: var(--secondaryColor);
        border: 1px solid var(--secondaryColor);
    }

/* Navbar */
.navBar{width: var(--navWidth);height: var(--navHeight);display: flex;justify-content: var(--navAlign);align-items: center;}
.sideBar{
position: fixed;
top: 0;
left: 0;
width: var(--navWidth);
z-index: 5;
}
.navigationBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: .5rem;
    position: fixed;
    top: 10px;
    left: 2.5%;
    width: var(--navWidth);
    height: var(--navHeight);
    z-index: 4;
    background-color: var(--light);
    box-shadow: 0 2rem 3rem 0rem rgba(0,0,0,0.1);
}
.navLink{
    font-weight: bold;
    margin: 0 1rem;
}
.navLink > i{
    color: var(--primaryColor);
}
.navigationBar .logo{
    margin-right:2rem;
    font-size: 1.5rem;
}
.Avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.gradient{background: var(--linearGradient);}

/* login */
.loginLeft{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 49%;
    padding: 2rem;
}
.loginRight{
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    padding: 2rem;
}
@media(max-width:800px){
    .loginLeft{display: none;}
    .loginRight{position: static;width: 100%;}
}
.form{max-width: 500px;width: 100%;}

.edgeDesign::after{
    content: "";
    width: 300px;
    height: 300px;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: var(--primaryColor);
    transform: translate(40%, -40%);
}
.dash{
    min-width: 100px;
    height: 10px;
    border-radius: 2rem;
    background-color: #f2f2f2;
    margin: 80px 5px 20px;
}
.active{
    background-color: var(--primaryColor);
}
button,input{border-radius:50rem !important;}
